.timeline{
    margin-top:30px;
    background:#1e293b;
    padding:30px;
    border-radius:18px;
    border:1px solid rgba(255,255,255,.08);
}

.timeline h2{
    color:white;
    margin-bottom:25px;
}

.timeline-item{
    display:flex;
    gap:18px;
    align-items:center;
    padding:18px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.timeline-item:last-child{
    border:none;
}

.dot{
    width:14px;
    height:14px;
    border-radius:50%;
}

.green{background:#22c55e;}
.orange{background:#f59e0b;}
.blue{background:#3b82f6;}
.purple{background:#8b5cf6;}

.timeline h4{
    color:white;
    margin-bottom:6px;
}

.timeline span{
    color:#94a3b8;
}